{{> head  }}
{{> navbar  }}

    <div class="row">
        <div class="col">
            <h1>Escanor</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate temporibus, corrupti obcaecati quas facilis quod. Nam repudiandae tempora nostrum blanditiis ea dicta modi saepe vitae rem nesciunt. Optio, atque asperiores.
            </p>
        </div>
        <div class="col">
            <img src="assets/img/sk.jpg" alt="" class="img-thumbnail">
        </div>
    </div>

{{> foot }}